.circle {
    width: 20px; height: 20px;
    border: none;
    box-shadow: inset 4px -4px 5px rgba(0, 0, 0, 0.49),
    -5px 5px 10px rgba(0, 0, 0, 0.7);
}

.circle:hover {
    width: 24px; height: 24px;
    translate: -2px -2px;
    transition: .3s ease all;
    margin-bottom: -4px;
}
.circle:checked, .circle:focus {
    width: 25px; height: 25px;
    translate: -2px -2px;
    margin-bottom: -4px;
    border: none;
    box-shadow: inset 4px -4px 5px rgba(0, 0, 0, 0.49),
    -5px 5px 10px rgba(0, 0, 0, 0.7);
}

  .circle.color-white {
  background-color: rgb(255, 255, 255);
  }
  .circle.color-red {
    background-color: rgb(219, 85, 85);
  }
  .circle.color-yellow {
    background-color: rgb(244, 254, 50);
  }
  .circle.color-blue {
    background-color: rgb(58, 58, 246);
  }
  .circle.color-green {
    background-color: #008000;
  }
  .circle.color-black {
    background-color: #474747;
  }

  .nav {background: rgb(0, 228, 182);}
  
